.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
ios/Pods/
.env
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
